body,
html {
    margin: 0;
    padding: 0;
    // min-width: 320px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    position: relative;
    outline: none;
    border: none;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: all .1s;
    }

    &:active {
        &::after {
            background: rgba(0, 0, 0, 0.3);
        }
    }
}

/** 超出显示 省略号 */
.textEllipsis {
    white-space: nowrap;
    /*溢出部分文字隐藏*/
    overflow: hidden;
    /*溢出部分省略号处理*/
    text-overflow: ellipsis;
}

/* 模糊效果 */
#app {
    transition: filter 0.3s;
}

#app.filterBlur {
    filter: blur(5px);
}


.goBackArrow {
    padding-left: 5vw;
    color: black;
    z-index: 1;
    width: 10vw;
}

@import './vueTransition.less';
@import './fontSize.less';